[Unit]
Description=Raspberry Pi Birdcam Motion Capture
After=network.target

[Service]
User=fx
WorkingDirectory=/home/fx/birdcam
ExecStart=/usr/bin/python3 /home/fx/birdcam/birdcam_motion.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
